%h1 Listing Orders
%ul.nav.navbar-nav
  - @orders.each do |order|
    - order.order_products.each do |order|
      %li= order.product.title
      %br
      %li= number_to_currency(order.product.price, locale: :ru)
      %br
    %br
    %p
      %strong Total Price:
      = number_to_currency(order.total_price, locale: :ru)
    %hr
