%h1= @product.title.humanize

= link_to 'Back', weekday_products_path
= link_to 'Edit', edit_weekday_product_path
= link_to 'Delete', weekday_product_path, method: :delete, data: { confirm: 'Are you sure?' }
